{% extends "base.html" %}
{% block title %}
    question base
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/static/css/Q&A/reset.css">
<link rel="stylesheet" type="text/css" href="/static/css/Q&A/style_test.css">
{% endblock %}


{% block app_page_head %}   
{% endblock %}

{% block content %}
question base
{% endblock %} 

{% block page_content %}
{% endblock %} 



{% block footer %}
{% endblock %} 

{% block js %}
    <!--这里插入具体页面引用的js库，或者js代码-->
{% endblock %}