{% extends "base.html" %}

{% load bootstrap_toolkit %}


{% block title %}
  create  info
{% endblock %}

{% block extra_head %}
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link rel="stylesheet" type="text/css" href="/static/css/info/reset.css">
<link rel="stylesheet" type="text/css" href="/static/css/info/style.css">
    {{ form.media }}

{% endblock %}


{% block content %}

<div id="wrap">

	<!--nav 头部-->
	 {% include "includes/nav.html" %} 
	<!--end nav-->
<!--导航条-->
	<ul class="breadcrumb">
	    <li><a href="/">首页</a> <span class="divider">/</span></li>
	    <li><a href="/info" >资讯</a><span class="divider">/</span></li>
	    <li class='active'>{{information}}</li>
	</ul>

	<!--中间内容-->
	<div class="row" >
		<div id="consult-wrap" class="container">


			<!--begin content-->
			<div id="content-wrap"  >
				 <table>  
				 <form class="form-vertical" action="" method="post">
				         {% csrf_token %}
				         {{ form|as_bootstrap }}
				 <!-- 'vertical' change as layout -->
				       
				         {% if layout == "horizontal" %}
				             <p class="form-actions">
				                 <input type="submit" value="Submit" class="btn btn-primary">
				             </p>
				         {% else %}
				             <input type="submit" value="Submit" class="btn btn-primary">
				         {% endif %}
				 </form>
				 </table> 

			</div>
			<!--end content-->







				

			</div>

		</div>
	</div>


<!--底部-->
	<!--footer 底部-->
	{% include "includes/footer.html" %}
	<!--end footer-->

{% endblock %} 