{% extends "lzj_question_base.html" %}
{% block title %}
    保定周边
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/static/css/group/reset.css">
<link rel="stylesheet" type="text/css" href="/static/css/group/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/Q&A/style_test.css">



{% endblock %}


{% block content %}


<div id="wrap">

  <!--nav 头部-->
   {% include "includes/nav.html" %} 
  <!--end nav-->

<!--导航条-->
  <ul class="breadcrumb">
      <li><a href="/">首页</a> <span class="divider">/</span></li>
      <li class="active">保定周边</li>
    </ul>

<!--中间内容-->
<div id="form-wrap" class="container">
    <div class="span9 offset1"><h3>保定周边</h3></div>
    <div class="span6 offset1">
        <ul class="thumbnails span7">
          
          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/1.jpg"  alt="140x140">
              <h4></h4>
              
              </a>
            </div>
          </li>

          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/4.jpg"  alt="140x140">
              <h4></h4>
              </a>
            </div>
          </li>

          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/5.jpg"  alt="140x140">
              <h4></h4>
              </a>
            </div>
          </li>
          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/6.jpg"  alt="140x140">
              <h4></h4>
              </a>
            </div>
          </li>

          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/7.jpg"  alt="140x140">
              <h4></h4>
              </a>
            </div>
          </li>
        </ul>
        <ul class="thumbnails span7">

          <p>---------游山玩水---------</p>

          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/byd.jpg"  alt="140x140">
              <h4 class='text-center'>白洋淀</h4>
              </a>
            </div>
          </li>

          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/ysp.jpg"  alt="140x140">
              <h4 class='text-center'>野三坡</h4>
              </a>
            </div>
          </li>
          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/ygd.jpg"  alt="140x140">
              <h4 class='text-center'>鱼谷洞</h4>
              </a>
            </div>
          </li>
          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/tl.jpg"  alt="140x140">
              <h4 class='text-center'>驼梁风景区</h4>
              </a>
            </div>
          </li>
          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/sxx.jpg"  alt="140x140">
              <h4 class='text-center'>十悬峡</h4>
              </a>
            </div>
          </li>
          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/glhc.jpg"  alt="140x140">
              <h4 class='text-center'>古莲花池</h4>
              </a>
            </div>
          </li>
          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/qxl.jpg"  alt="140x140">
              <h4 class='text-center'>清西陵</h4>
              </a>
            </div>
          </li>
          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/lys.jpg"  alt="140x140">
              <h4 class='text-center'>狼牙山</h4>
              </a>
            </div>
          </li>
          <li class="">
            <div class="thumbnail">
              <a href="#">
              <img class="img-rounded" src="/static/img/newstudents/baoding/lth.jpg"  alt="140x140">
              <h4 class='text-center'>龙潭湖</h4>
              </a>
            </div>
          </li>
          
        </ul>



    </div>

    <div class="span3 offset1">
      <div class="offset1" id="first">
        <h3>link</h3>
        <div>
          <ul class="unstyled">
            <li><a href="http://www.douban.com">豆瓣</a></li>
            <li><a href="http://www.zhihu.com">知乎</a></li>
            <li><a href="http://www.guokr.com">果壳</a></li>
            <li><a href="http://www.5sing.com">5sing</a></li>
            <li><a href="http://www.v2ex.com">v2ex</a></li>
            <li><a href="http://www.github.com">github</a></li>
          </ul>
        </div>
      </div>
    </div>

</div>



  <!--footer 底部-->
  {% include "includes/footer.html" %}
  <!--end footer-->

</div>




{% endblock %}
