<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>404</title>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="/static/css/bootstrap2.3.1.min.css">
<!--自己的css放到这里-->
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
    <script src="/static/js/jquery-1.8.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

<style type="text/css" media="screen">
	#main #header h1 {
    color: #0061A5;
    display: block;
    font: 72px 'TeXGyreScholaBold',Arial,sans-serif;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px #F7F7F7;
}
</style>

</head>
<body>

<div id="main">
    <header id="header">
      <h1><span class="icon">!</span>404</h1>
      <h1><span class="sub">page not found  :-(</span></h1>
    </header>
    
    
</div>            
</body> 

</html>