{% extends "base.html" %}

{% block title %}register{% endblock %}

{% block extra_head %}

    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    </style>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    {% endblock %}

 
{% block content %}
    <div class="container">
    <ul class="breadcrumb">
      <li><a href="/">首页</a> <span class="divider">/</span></li>
      <li class="active">注册</li>
    </ul>
{% load bootstrap_toolkit %}

      <form action="" method="post" class="form-signin">
        <h2 class="form-signin-heading">Welcome</h2>
          {% csrf_token %}
          {{ form|as_bootstrap:"horizontal" }}
  <!-- 'vertical' change as layout -->
          <label class="checkbox"><input type="checkbox" /> 同意注册</label> 
          
              <input type="submit" value="注册" class="btn btn-large btn-primary">
              <a href="/" class="btn btn-large btn-primary ">返回</a>

  </form>


    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock %} 

