<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="css/personal-homepage/reset.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="css/personal-homepage/style.css">

<title>personal-homepage</title>
</head>

<body>
<div id="wrap">
<!--头部-->
	<div id="nav">
		<div class="row">
			<div class="span2 offset2"><h1>云帆</h1></div>
			<div class="span4">
				<ul class="inline">
    				<li><a href="#">我提问的</a></li>
    				<li><a href="#">我评论的</a></li>
    				<li><a href="#">我感兴趣的</a></li>
    			</ul>
			</div>
		<div class="span4">
			<form class="form-search">
				<input type="text" class="input-medium">
				<button type="submit" class="btn">搜索</button>
			</form>
		</div>
		</div>
	</div>

<!--中间内容-->
<div id="content-wrap" class="container">
	<div class="row">
		<div class="span11 offset1">
			<div class="span1"><a href="#"><img src="images/1.jpg"></a></div>
			<div id="links" class="span3">
				<h3>吴文杰</h3>
				<ul class="inline">
					<li><a href="#">日记</a></li>
					<li><a href="#">相册</a></li>
					<li><a href="#">喜欢</a></li>
				</ul>
			</div>
		</div>
		<div class="span7 offset1">
			<div id="group_board" class="span6">
				<div id="group_content">
					吴文杰,这里是你的主页，用来展示你的生活和发现，也是别人认识你的地方。完善你的个人资料，开始全新的云帆之旅吧。
				</div>
			</div>
			<div id="ul-wrap" class="span6">
				<div id="like" class="span6">
					<h4><span><a href="">More...</a></span>我喜欢...</h4>
					<ul class="unstyled">
						<li><span>9月2日8:48</span><a href="">CSS命名规则</a></li>
						<li><span>9月2日8:48</span><a href="">CSS命名规则</a></li>
						<li><span>9月2日8:48</span><a href="">CSS命名规则</a></li>
					</ul>
				</div>
				<div id="diary" class="span6">
					<h4><span><a href="">More...</a></span>我的日记...</h4>
					<ul class="unstyled">
						<li><span>9月2日8:48</span><a href="">CSS命名规则</a></li>
						<li><span>9月2日8:48</span><a href="">CSS命名规则</a></li>
						<li><span>9月2日8:48</span><a href="">CSS命名规则</a></li>
					</ul>
				</div>
				<div id="album" class="span6">
					<h4><span><a href="">More...</a></span>我的相册...</h4>
					<ul class="unstyled">
						<li><span>9月2日8:48</span><a href="">CSS命名规则</a></li>
						<li><span>9月2日8:48</span><a href="">CSS命名规则</a></li>
						<li><span>9月2日8:48</span><a href="">CSS命名规则</a></li>
					</ul>
				</div>
				<div id="message" class="span6">
					<h4><span><a href="">More...</a></span>留言板...</h4>
					<form>
						<textarea rows="4" placeholder="留点什么呢..."></textarea>
						<button type="submit" class="btn">留言</button>
					</form>
				</div>
			</div>
		</div>
		<div class="span3">
			<div id="personal-information" class="clearfix">
				<img src="images/1.jpg">
				<div id="user-info" class="clearfix">
					家乡：河北保定
					<br />
					电话：1234566
					<br />
					2013-9-2加入该小组
				</div>
				<div id="sep-line" class="clearfix"></div>
				<div id="introduction"><a href="">(添加自我介绍)</a></div>
			</div>
			<div id="latest-joining">
				<div id="latest-joining-title">
					<h4><a href="#">more>></a>我常去的小组...</h4>
				</div>
				<div id="imglist">
  				    <ul class="thumbnails">
    					<li class="span1">
    						<a href="#">
   						 		<img src="images/1.jpg" alt="">
   						 		 PS小组
   						 	</a>
   					 	</li>
   					 	<li class="span1">
    						<a href="#">
   						 		<img src="images/1.jpg" alt="">
   						 		 PS小组
   						 	</a>
   					 	</li>
   					 	<li class="span1">
    						<a href="#">
   						 		<img src="images/1.jpg" alt="">
   						 		 PS小组
   						 	</a>
   					 	</li>
   					 	<li class="span1">
    						<a href="#">
   						 		<img src="images/1.jpg" alt="">
   						 		 PS小组
   						 	</a>
   					 	</li>
   					 	<li class="span1">
    						<a href="#">
   						 		<img src="images/1.jpg" alt="">
   						 		 PS小组
   						 	</a>
   					 	</li>   
   					 	<li class="span1">
    						<a href="#">
   						 		<img src="images/1.jpg" alt="">
   						 		 PS小组
   						 	</a>
   					 	</li>   					 						
    			  </ul>
				</div>
			</div>
		</div>
	</div>
</div>



<!--底部-->
	<div id="footer">
		<div class="container">
				<ul class="inline">
					<li><a href="#">关于我们</a></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">关于我们</a></li>
					<li title="云帆">© 2013 云帆</li>
				</ul>
		</div>
	</div>
</div>

<script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap-tag.js"></script>
</body>
</html>