{% extends "base.html" %}
{% block title %}
    user
{% endblock %}

{% block extra_head %}

<link rel="stylesheet" type="text/css" href="/static/css/user/reset.css">
<link rel="stylesheet" type="text/css" href="/static/css/user/style.css">
{% endblock %}


{% block content %}


<div id="wrap">

	<!--nav 头部-->
	 {% include "includes/nav.html" %} 
	<!--end nav-->

<!--导航条-->
	<ul class="breadcrumb">
	    <li><a href="/">首页</a> <span class="divider">/</span></li>
	    <li class="active">个人主页</li>
    </ul>

<!--中间内容-->
<div id="content-wrap" class="container">
	<div class="row">
		<div class="span11 offset1">
			{% load avatar_tags %}
			<div class="span1">{% if user.is_authenticated %}{% avatar user 70 %}{% endif %}</div>
			<div id="links" class="span3">
				<h3>
					{% if user.is_authenticated %}{{user.username}}{% endif %}

				</h3>

				<ul class="inline">
					<li><a href="#">日记</a></li>
					<li><a href="#">喜欢</a></li>
				</ul>
			</div>
		</div>
		<div class="span7 offset1">
			<div id="group_board" class="span6">
				<div id="group_content">
					个人主页，展示你的生活和发现
				</div>
			</div>
			<div id="ul-wrap" class="span6">
				<div id="following" class="span6">
					<h4><span><a href="">More...</a></span>following...</h4>
					<ul class="unstyled">
						<li><span ></span><a href="">waiting..</a></li>
						<li><span></span><a href="">waiting..</a></li>
						<li><span></span><a href="">waiting..</a></li>
					</ul>
				</div>
				<div id="follower" class="span6">
					<h4><span><a href="">More...</a></span>follower...</h4>
					<ul class="unstyled">
						<li><span></span><a href="">waiting </a></li>
						<li><span></span><a href="">waiting </a></li>
						<li><span></span><a href="">waiting </a></li>
					</ul>
				</div>
				<div id="info" class="span6">
					<h4><span><a href="">More...</a></span>关注的资讯...</h4>
					<ul class="unstyled">
						<li><span></span><a href="">waiting </a></li>
						<li><span></span><a href="">waiting </a></li>
						<li><span></span><a href="">waiting </a></li>
					</ul>
				</div>
				
				
				<!--<div id="message" class="span6">
					<h4><span><a href="">More...</a></span>留言板...</h4>
					<form>
						<textarea rows="4" placeholder="留点什么呢..."></textarea>
						<button type="submit" class="btn">留言</button>
					</form>
				</div>
				-->
			</div>
		</div>
		<div class="span3">
			<div id="personal-information" class="clearfix">
				{% avatar user 50 %}
				<div id="user-info" class="clearfix">
					家乡：河北保定
					<br />
					电话：1234566
					
				</div>
				<div id="sep-line" class="clearfix"></div>
				<div id="introduction"><a href="">(添加自我介绍)</a></div>
			</div>
			<div id="latest-joining">
				<div id="latest-joining-title">
					<h4><a href="#">more>></a>最近加入的小组...</h4>
				</div>
				<div id="imglist">
  				    <ul class="thumbnails">
						
						{% for groupmember in user_groupmember %}
			              <li class="span1">
			              <a href="/mygroups/{{groupmember.group.pk}}">
			                {% if groupmember.group.icon %}
			                <img class="img-rounded" src="/media/{{ groupmember.group.icon }}" style="width: 70px; height: 60px;" alt="60x70">
			                {% else %}
			                <img class="img-rounded" src="/static/img/newstudents/food.jpg" style="width:70px; height:60px;" alt="默认头像"> 
			                {% endif %}
			              {{ groupmember.group.title}}</a>
			              </li>
			            {% endfor %}	
   					 						
    			  </ul>
				</div>
			</div>
		</div>
	</div>
</div>



<!--footer 底部-->
{% include "includes/footer.html" %}
<!--end footer-->

</div>


{% endblock %} 